# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\atana\OneDrive\Documentos\2021-1\SW2\exfinal_g9\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

## node modules not ignored ?? wtf
node_modules/
